{% extends 'doctor/base/base-page.html' %}
{% load l10n %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Suvestinė' %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h4 class="card-title"><strong>{% trans 'Medžiagų paros normų sunaudojimas ' %}</strong></h4>

                <div class="card-body">
                    <canvas style="max-height: 300px;" id="nutrient-usage-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
            integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
            integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
        const nutrientUsageChart = new Chart(document.getElementById('nutrient-usage-chart').getContext('2d'), {
            type: 'line',
            data: {
                datasets: [
                    {% if nutrition_reports.last.daily_norm_potassium_mg %}
                        {
                            label: '{% trans 'Kalis' %}',
                            data: [
                                {% for report in nutrition_reports %}
                                    {% if report.daily_norm_potassium_mg %}
                                        {
                                            x: '{{ report.date.isoformat }}',
                                            y: {{report.total_potassium_mg|div:report.daily_norm_potassium_mg|mul:100|floatformat:"0"}},
                                        },
                                    {% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: '#ffa600',
                            borderColor: '#ffa600',
                            showLine: false,
                        },
                    {% endif %}
                    {% if nutrition_reports.last.daily_norm_proteins_mg %}
                        {
                            label: '{% trans 'Baltymai' %}',
                            data: [
                                {% for report in nutrition_reports %}
                                    {% if report.daily_norm_proteins_mg %}
                                        {
                                            x: '{{ report.date.isoformat }}',
                                            y: {{report.total_proteins_mg|div:report.daily_norm_proteins_mg|mul:100|floatformat:"0"}},
                                        },
                                    {% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: '#ff6e54',
                            borderColor: '#ff6e54',
                            showLine: false,
                        },
                    {% endif %}

                    {% if nutrition_reports.last.daily_norm_sodium_mg %}
                        {
                            label: '{% trans 'Natris' %}',
                            data: [
                                {% for report in nutrition_reports %}
                                    {% if report.daily_norm_sodium_mg %}
                                        {
                                            x: '{{ report.date.isoformat }}',
                                            y: {{report.total_sodium_mg|div:report.daily_norm_sodium_mg|mul:100|floatformat:"0"}},
                                        },
                                    {% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: '#dd5182',
                            borderColor: '#dd5182',
                            showLine: false,
                        },
                    {% endif %}

                    {% if nutrition_reports.last.daily_norm_phosphorus_mg %}
                        {
                            label: '{% trans 'Fosforas' %}',
                            data: [
                                {% for report in nutrition_reports %}
                                    {% if daily_norm_phosphorus_mg %}
                                        {
                                            x: '{{ report.date.isoformat }}',
                                            y: {{report.total_phosphorus_mg|div:report.daily_norm_phosphorus_mg|mul:100|floatformat:"0"}},
                                        },
                                    {% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: '#955196',
                            borderColor: '#955196',
                            showLine: false,
                        },
                    {% endif %}
                    {% if nutrition_reports.last.daily_norm_energy_kcal %}
                        {
                            label: '{% trans 'Energija' %}',
                            data: [
                                {% for report in nutrition_reports %}
                                    {% if report.daily_norm_energy_kcal %}
                                        {
                                            x: '{{ report.date.isoformat }}',
                                            y: {{report.total_energy_kcal|div:report.daily_norm_energy_kcal|mul:100|floatformat:"0"}},
                                        },
                                    {% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: '#444e86',
                            borderColor: '#444e86',
                            showLine: false,
                        },
                    {% endif %}
                    {% if nutrition_reports.last.daily_norm_liquids_ml %}
                        {
                            label: '{% trans 'Skysčiai' %}',
                            data: [
                                {% for report in nutrition_reports %}
                                    {% if report.daily_norm_liquids_ml %}
                                        {
                                            x: '{{ report.date.isoformat }}',
                                            y: {{report.total_liquids_ml|div:report.daily_norm_liquids_ml|mul:100|floatformat:"0"}},
                                        },
                                    {% endif %}
                                {% endfor %}
                            ],
                            backgroundColor: '#444e86',
                            borderColor: '#444e86',
                            showLine: false,
                        },
                    {% endif %}
                ]
            },
            options: {
                interaction: {
                    mode: 'x'
                },
                scales: {
                    xAxes: [{
                        type: 'timeseries',
                    }],
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: '{% trans 'Paros normos dalis, %' %}'
                        },
                        beginAtZero: true,
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                return context.dataset.label + ": " + context.parsed.y + " %";
                            }
                        }
                    },
                    legend: {
                        position: 'bottom',
                    }
                },


            }
        });
    </script>
{% endblock %}