{% extends "doctor/base/base.html" %}
{% load image_tags %}
{% load i18n %}
{% load static %}

{% block sidebar %}
    <aside class="sidebar sidebar-expand-lg sidebar-iconic">
        <header class="sidebar-header">
            <a href="{% url 'doctor:index' %}">
                <span class="logo">
                    <img src="{% static "img/logo/nephrogo-logo.png" %}" alt="NephroGo">
                </span>
            </a>
        </header>

        <nav class="sidebar-navigation">
            <ul class="menu">

                <li class="menu-item{% if active_menu_item == 'summary' %} active{% endif %}">
                    <a class="menu-link" href="{% url 'doctor:index' %}">
                        <span class="icon">
                            <i class="material-icons">info</i>
                        </span>
                        <span class="title">{% trans "Suvestinė" %}</span>
                    </a>
                </li>
                <li class="menu-item{% if active_menu_item == 'nutrition' %} active{% endif %}">
                    <a class="menu-link" href="{% url 'doctor:nutrition' %}">
                        <span class="icon">
                            <i class="material-icons">restaurant</i>
                        </span>
                        <span class="title">{% trans "Mityba" %}</span>
                    </a>
                </li>

                <li class="menu-item{% if active_menu_item == 'health_status' %} active{% endif %}">
                    <a class="menu-link" href="{% url 'doctor:health_status' %}">
                        <span class="icon">
                            <i class="material-icons">assessment</i>
                        </span>
                        <span class="title">{% trans "Rodikliai" %}</span>
                    </a>
                </li>

                <li class="menu-item{% if active_menu_item == 'automatic_dialysis' %} active{% endif %}">
                    <a class="menu-link" href="{% url 'doctor:automatic_dialysis' %}">
                        <span class="icon">
                            <i class="material-icons">opacity</i>
                        </span>
                        <span class="title">{% trans "Dializės" %}</span>
                    </a>
                </li>
            </ul>
        </nav>

    </aside>
{% endblock %}

{% block topbar %}
    <!-- Topbar -->
    <header class="topbar">
        <div class="topbar-left flex-grow">
            <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
            <div class="dropdown">
                <span class="topbar-btn dropdown-toggle" data-toggle="dropdown"><i class="icon ti-user"></i>Pacientas:
                {{ doctor_patients.first.patient_user.get_full_name }}</span>
                <div class="dropdown-menu">
                    {% for patient in doctor_patients %}
                        <a class="dropdown-item" href="#">{{ patient.patient_user.get_full_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="topbar-right">
            <div class="topbar-btns">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-pure topbar-btn">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                </form>
            </div>
            <div class="topbar-divider"></div>
        </div>
    </header>
    <!-- END Topbar -->
{% endblock %}

{% block main_container %}
    <main class="main-container">

        {% block main_aside %}
        {% endblock %}

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>


        <!-- Footer -->
        <footer class="site-footer">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-md-left">
                        {% include 'doctor/elements/footer-text.html' %}
                    </p>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            {% if user.is_superuser %}
                                <a class="nav-link" href="{% url 'admin:index' %}">
                                    {% trans 'Super administravimas' %}
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- END Footer -->

    </main>
{% endblock %}